*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: #ffffff;
    min-height: 100dvh;
}
.container{
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
    max-width: 100%;
    min-height: 100dvh;
}

.text-center{
    text-align: center;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    background-color: #0d0a0a;
    margin-top: 0px;
    color: #fff;
    padding: 1em;
}
.logo img{
width: 50px;
height: 30px;
margin-right: 1rem;
}

nav{
    /* border-top: 2px solid #c4c4c4; */
    border-bottom: 2px solid #c4c4c4;
    padding: 1em;
}
nav ul{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
}
nav ul li{
    margin: 0 2rem;
}
nav a{
    color: rgb(0, 0, 0);
    text-decoration: none;

}
nav a:hover{
    color: #724f4f;
}
.row{
  display: flex;
}
.col{
    padding: 1rem;
    flex: 1;
    text-align: center;
    width: 100%;
    box-shadow: 0px 0px 30px rgba(128, 128, 128, 0.609);
    margin-right: 2em;
    border-radius: 0.2em;
    margin-bottom: 1em;
} 

.col img{
    object-fit: cover;
}
h4{
    margin: 10px 0;
}

img{
    height: 230px;
    width: 255px;
}

main p{
    line-height: 1.5rem;
}

@media screen and (max-width:768px){
    .row{
        flex-direction: column;
    }
    .col:not(:last-child){
        border-right: none;

    }
    .col{
        margin-bottom: 2em;
    }
}

.text-header{
    display:block;
    margin: 1rem;
}
.text-header h1{
    color: rgb(153, 136, 136);
    margin-bottom: 1em;
    text-transform: lowercase;
}
.list {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 5px;
    margin-bottom: 10px;
}
.list img {
    width: 250px;
    height: 100px;
}
form {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100dvh;
    gap: 2em;
  }
  
  label {
    display: block;
    margin-bottom: 1em;
    font-weight: bold;
  }
  
 input {
    width: 100%;
    padding:1.5em;
    border: 1px solid #ccc;
    border-radius: 4px;

  }
  
  button[type="submit"] {
    background-color: #4c54af;
    color: white;
    margin: 20px;
    padding: 1em;
    font-weight: bold;
    font-size: 1.1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
.comment-text{
     position: relative;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contacts{
     position: relative;
    margin: 50px; 
    bottom:10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    width: 100%;
    padding: 1em;display: grid;
    place-content: center;
    background-color: #4f15ff;
    color: #fff;
    position: relative;
    bottom: 0;
}
