.home_container{
    min-height: 100dvh;
    margin-top: 2em;
    padding: 1em 2em;
}
.top_headlines{
    width: 100%;
    align-items: center;
    display: flex;
    overflow-x: auto;
}

.top_headlines::-webkit-scrollbar{
    background: rgba(0, 0, 0, 0.341);
    /* padding: 1em; */
    height: 10px;
    width: 100%;
    display: flex;align-items: center;
    justify-content: center;
}
.top_headlines::-webkit-scrollbar-thumb{
    background: rgba(30, 29, 29, 0.459);
    border-radius: 50px;
    height: 1px;
}